div.game-container {
    $inputwidth: 70vw;

    .question-block {

        h3 {
            margin: 15px 0 10px 0;
            background-color: darkmagenta;
        }
        #question-text {
            padding: 5px;
            margin: 5px;
        }

        padding: 5px;
    }

    .answer-block {
        input {
            margin: 5px 0 10px 0;
        }

        .answer-field {
            width: $inputwidth;
            height: 3vh;
        }

        .answer-button {
            display: block;
            margin: auto;
            background-color: white;
        }
    }
}