
// @font-face {
//   font-family: 'secret_typewriterregular';
//   src: url('veteran_typewriter-webfont.eot');
//   src: url('veteran_typewriter-webfont.eot?#iefix') format('embedded-opentype'),
//       //  url('veteran_typewriter-webfont.woff2') format('woff2'),
//        url('veteran_typewriter-webfont.woff') format('woff'),
//        url('veteran_typewriter-webfont.ttf') format('truetype'),
//        url('veteran_typewriter-webfont.svg#secret_typewriterregular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  color: #282c7f;
  text-align: center;
}

.signup iframe {
  margin: 5px;
}

div.gif {
  padding: 15px;
}

div#wrapper {
  width: 100%;
}

.title-header {
  color: #63d79d;
  font-family: "Bodoni 72";
}

div#sidebar-header {
  padding: 10px;
}

div.thinkling-header {
  padding: 5px;
  font-size: 36px;

  p {
    font-size: 36px;
    margin: 20px 20px 10px 20px;
  }

  p.main-header-2 {
    font-size: 30px;
    padding: 2px;
    margin: 0px 10px;
  }
}

div.thinkling-footer {
  padding: 10px;
  font-size: 14px;

  p {
    padding: 0px;
    margin: 1vh;
  }

  a {
    color: aliceblue;
  }

  hr {
    margin: 0;
  }
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100%;
  color: white;

  p {
    padding: 15px;
  }

  a {
    color: white;
  }
}

.App-logo {
  margin: 20px 0 0 0;
  animation: logo-zoom infinite 5s alternate;
  height: 40vmin;
}


@keyframes logo-zoom {
  from {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.toggle-display {
  &-hide {
    display: none;
  }

  &-show {
    display: inline;
  }
}

// Responsive styles

[class*="col-"] {
  width: 100%;
  float: left;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

//phone
.phone-device-show {
  display: inline;
}

.phone-device-hidden {
  display: none;
}

// tablet
@media only screen and (min-width: 600px) {
  .col-t-1 {width: 8.33%;}
  .col-t-2 {width: 16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%;}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}

  .phone-device-show {
    display: none;
  }

  .phone-device-hidden {
    display: inline;
  }
}


// desktop
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .phone-device-show {
    display: none;
  }

  .phone-device-hidden {
    display: inline;
  }
}