#leaderboard-tbl {
    display: inline-block;

    thead {
        background-color: darkmagenta;
    }

    th, td {
        text-align: left;
        padding: 5px;
        border: solid 0.5px grey;
        width: 70%;
    }

    tbody {
        background: linear-gradient(to bottom, rgb(0, 0, 170), rgb(0, 175, 255));
        background: -webkit-linear-gradient(to bottom, rgb(0, 0, 170), rgb(0, 175, 255));
        background: -moz-linear-gradient(to bottom, rgb(0, 0, 170), rgb(0, 175, 255));

        tr {
            font-weight: bold;
        }
    }
}