.store {

    .image-list {

        .image-li {
            max-width: 32%;
            padding: 1px;
            display: inline-block;

            .stock-img {
                max-width: 100%;
            }
        }
    }
}

.store-title {
    min-height: 3vmin;
}