.store {
    /* min-height: 100%; */
    color: white;
    align-items: center;
    justify-content: center;

    .image-li {
        max-width: 32%;
        padding: 1px;
        float: left;

        .stock-img {
            max-width: 100%;
        }
    }
}

.store-title {
    min-height: 3vmin;
}