div.conundrum-header {
    padding: 5px;
    font-size: 36px;
}

.welcome-page {

    div.signup {
        margin: 10px;
    }

    iframe div.freebirdSolidBackground.freebirdFormviewerViewEmbedded .freebirdFormviewerViewAccentBanner {
        background-color: aliceblue;
    }
}